<h1><%= I18n.t('categories.edit.name') %></h1>

<%= form_with model: @category do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %><br>
    <%= form.label :is_visible %><br>
    <%= form.text_field :is_visible %><br>
    <%= form.label :position %><br>
    <%= form.text_field :position %><br>

    <% @category.errors.full_messages_for(:name).each do |message| %>
        <div><%= t(message) %></div>
    <% end %>  

    <% @category.errors.full_messages_for(:position).each do |message| %>
        <div><%= t(message) %></div>
    <% end %>  
    
  </div>
  <div>
    <%= link_to t('common.back'), :back %>
    <%= form.submit t('categories.edit.form.submit') %>
  </div>
<% end %>