<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<h1><%= @category.name %></h1>
<%= link_to "Edit", edit_category_path(@category) %>

<%= render @products %>
<%= link_to 'Узнать подробнее', onclick: 'showForm();' %>

<!-- form -->
<div style="display: none;" id="email_form">
  <%= render 'email' %>
</div>

<%= link_to 'Сортировать', sorting_categories_path(category_id: @category.id) %>
<%= link_to 'Очистить сортировку', clear_sorting_categories_path(category_id: @category.id) %>

<script>
function showForm() {
  document.getElementById("email_form").style.display = "block";
}
</script>
