<h1><%= t('products.edit.name') %></h1>

<%= form_with model: [@category, @product] do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %><br>
    <%= form.label :category %><br>
    <%= form.text_field :category %><br>
    <%= form.label :position %><br>
    <%= form.text_field :position %><br>
    <%= form.label :price %><br>
    <%= form.text_field :price %><br>
    <%= form.label :article %><br>
    <%= form.text_field :article %><br>

    <% @product.errors.full_messages_for(:name).each do |message| %>
        <div><%= t(message) %></div>
    <% end %>  
    <% @product.errors.full_messages_for(:price).each do |message| %>
        <div><%= t(message) %></div>
    <% end %> 
    <% @product.errors.full_messages_for(:position).each do |message| %>
        <div><%= t(message) %></div>
    <% end %> 
  </div>
  <div>
    <%= link_to t('common.back'), :back %>
    <%= form.submit t('products.edit.form.submit') %>
  </div>
<% end %>